<footer class="footer section">
  <div class="footer__container container grid">
    <div class="footer__content">
      <a href="#" class="footer__logo">Indra Minsait</a>
      <span class="footer__description">Test</span>
      <div>
        <a href="javascript:void(0)" class="footer__social"><em class="bx bxl-facebook"></em></a>
        <a href="javascript:void(0)" class="footer__social"><em class="bx bxl-instagram"></em></a>
        <a href="javascript:void(0)" class="footer__social"><em class="bx bxl-twitter"></em></a>
      </div>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">Services</h3>
      <ul>
        <li><a href="#" class="footer__link">Consulting</a></li>
        <li><a href="#" class="footer__link">Cloud</a></li>
        <li><a href="#" class="footer__link">Data</a></li>
        <li><a href="#" class="footer__link">Agile</a></li>
      </ul>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">Information</h3>
      <ul>
        <li><a href="#" class="footer__link">Contact us</a></li>
        <li><a href="#" class="footer__link">Privacy policy</a></li>
        <li><a href="#" class="footer__link">Terms of services</a></li>
      </ul>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">Adress</h3>
      <ul>
        <li>Valle de Chalco - Edo. México, C.P. 56617</li>
        <li>Col. Santa Cruz #1595</li>
        <li>55 1899 5831</li>
        <li>jhonatanhzb@outlook.com</li>
      </ul>
    </div>
  </div>

  <p class="footer__copy">&#169; 2022 Jhonatan Hernández. All right reserved</p>
</footer>
